@font-face {
font-family: 'Pixel';
src: url(Media/Pixel.ttf) format('truetype');
}

body{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Pixel', sans-serif;
}
/*background*/

#container {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(Media/Background.jpg);
    background-size: cover;
}

#btn{
    width: 80px;
    height: 100px;
    border: none;
    animation: beat 0.5s alternate-reverse infinite;
    background-image: url('Media/Flower.png');
    background-size: cover;
    cursor: pointer;

    
}

#card{
    display: none;
    width: 75%;
    height: 400px;
    background-color: #fde8ea;
    border: 6px solid #e65e65;
    box-shadow:
        inset 5px 5px #fff3f6,
        inset -5px -5px #fff3f6,
        5px 0 #f97c83,
        0 6px #f97c83,
            -5px 0px #f97c83,
        0px -5px #f97c83, 0 0 20px #f97c83;
    image-rendering: pixelated;
    animation: fadein 0.8s ease-in-out;
}

/*extern ressources styles*/
.pageContent{
    width: 90%;
    height: 90%;
    text-align: center;
    margin: 20px;
    font-size: 95%;
    transform: translateX(-5px);
}
h1{
    margin: 30px 0 0px 0;
    color: #f97c83;
    text-shadow: 0px 2px #e34d54;
}
p{
    color: #4f0f09;
    margin: 20px 0;
    line-height: 1.8;
    animation: text 1s ease-in-out;

}
span{
    font-weight: bolder;
}
img{
    width: 50%;
    height: 50%;
    margin-bottom: -25px;
}
a{
    color: #551b8c;
}

/*animations*/
@keyframes beat {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bg {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 50%;
    }
    100%{
        background-position: 100%;
    }
}

@keyframes fall {
    from {
        transform: translateX(0) translateY(0) rotate(0deg);
    }

    to {
        transform:
            translateX(var(--drift))
            translateY(110vh)
            rotate(360deg);
    }
}
.leaf {
    position: absolute;
    top: -50px;
    font-size: 20px;
    height: 30px;
    width: 20px;
    background-size: cover;
    pointer-events: none;
    animation: fall linear forwards;
}
#btw{
    color: #fff;
    top: 90%;
    font-weight: bolder;
    text-shadow: 0 0 5px #e65e65;
}